// 空间资源模型详情表单样式
.table-form-box{
  .el-row{
    border: 1px solid #DCDFE6;
    border-right: none;
    border-bottom: none;
  }
  .el-form-item, .el-col-8{
    margin-bottom: 0px;
  }

  .el-col-8{
    border-bottom: 1px solid #DCDFE6;
    box-sizing: content-box;
  }
  .el-form-item{
    height: 100%;
  }
  .el-form-item__label{
    line-height: 40px!important;
    text-align: center;
    background-color: #e3eefd;
    color: #46506d;
    padding: 0px;
    border-right: 1px solid #DCDFE6;
    
    // border: 1px solid #DCDFE6;
  }
  .el-input__inner{
    height: 40px;
    line-height: 40px;
    border: none;
    background-color: #f8faff;
    border-radius: 0px;
    border-right: 1px solid #DCDFE6;
  }
  .empty-item{
    height: 41px;
    background-color: #F5F7FA;
    border-right: 1px solid #E4E7ED;
    box-sizing: border-box;
  }
}